.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(90, 90, 90, 0.3)), url('../img/esta.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 800px;

}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    flex: 1;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow 0.3s ease;
}

.search-input:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.search-button {
    border-radius: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.0rem;
    }

    .search-container {
        flex-direction: column;
        padding: 0 1rem;
    }

    .search-button {
        width: 100%;
    }
}